/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- canvas ---- */

#canvas {
  width: 900px;
  height: 500px;
  border: 2px solid rgb(19, 150, 100);
  background-image: url(../images/background.png);
  background-size: 100% 100%;
}

#game-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#intro, #game-over{
  background-image: url(../images/background_incio.png);
  background-size: 100% 100%;
  width: 900px;
  height: 500px;
} 

#intro h1, #game-over h1{
  margin: 0;
  padding-top: 40px;
}

#game-over p {
  font-size: 30px;
  color: darkblue;
}

.main-title {
  color: red;
  font-size: 60px;
  text-align: center;
}

.start-over-game {
  display: flex;
  justify-content: space-around;
}

.button {
  color: #fff;
  font-size: 1em;
  padding: 15px;
  border-radius: 6px;
  width: 50%;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  background-color: rgba(26, 26, 141, 0.822);
}

.guaca {
width: 80%;
padding-left: 100px;
}

.guaca-over{
  width: 80%;
  padding-left: 150px;
}

.contenido {
  width: 50%;
  align-self: center;
}

.instructions {
  display: none;
}

ul {
  padding-left: 0;
  color: darkblue;
  margin-right: 80px;
  font-size: 18px;
}