/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- canvas ---- */

#canvas {
  width: 900px;
  height: 500px;
  border: 2px solid rgb(52, 52, 161);
}

#game-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.game-name {
  color: red;
  font-size: 60px;
  text-align: center;
}

.startgame {
  display: flex;
}
.startbutton {
  align-self: center;
}
.button {
  color: #fff;
  font-size: 1em;
  padding: 15px;
  border-radius: 6px;
  width: 30%;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  background-color: rgba(26, 26, 141, 0.822);
}
